.container {
    display: flex;
    width: 100%;
}

.list_nations {
    width: 70%;

}

.list_nations table {
    width: 100%;
    margin: 0 auto;
}

.form_add_nations {
    width: 30%;
}

.form_add_nations div {
    margin-top: 20px;
}

.form_add_nations form {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form_add_nations input {
    width: 100%;
    padding: 10px;
    border: solid 1px black;
    box-sizing: border-box;

}

.form_add_nations button {
    font-size: 15px;
    font-weight: 600;
    background-color: burlywood;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 10px;
}